*~
*.pyc
.DS_Store
.spyderproject
.pydevproject
.project
/build/*
/ComponentContribution.egg-info/*
/doc/equilibrator.aux
/doc/equilibrator.log
/doc/equilibrator.out
/doc/equilibrator.pdf
/doc/equilibrator.synctex.gz
/dist/ComponentContribution-1.0.0-py2.7.egg
/installed.txt
